@use "partials/typography.scss";

// Main colors
$primary: #4f2b98;
$accent: #9885bd  ;

html {
  background-color: #ffffff;
}

hr {
  background-color: #adadca;
}

a {
  color: $primary;

  &:hover {
    color: $accent;
  }
}
