@use "partials/typography.scss";
@use "partials/navbar";

// Main colors
$primary: #4f2b98;
$accent: #b5692a;

html {
  background-color: #ffffff;
}

hr {
  background-color: #adadca;
}

a {
  color: $primary;

  &:hover {
    color: $accent;
  }
}
