@use "partials/typography.scss";

// Main colors
$primary: hsl(28, 58%, 27%);
$accent: hsl(28, 58%, 50%);

html {
  background-color: #ffffff;
}

hr {
  background-color: hsl(28, 21%, 74%);
}

a {
  color: $primary;

  &:hover {
    color: $accent;
  }
}
