<nav class="navbar mt-4 mb-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="flex justify-between" id="navMenu">
    <div class="navbar-start flex">
      {{- range site.Menus.main }}
      <a class="mr-4" href="{{ .URL }}">
        {{ .Name }} {{- with .Page }} {{- with .Params.version -}} ({{ . }}) {{-
        end }} {{- end }}
      </a>
      {{- end }}
    </div>
    <div class="navbar-end flex">
      <div class="flex mx-6 min-w-18 justify-between">
      {{ partial "logos" . }} {{ range $.Translations }}
    </div>
      <div class="navbar-item">
        <a
          class="border-1 rounded-sm p-1 text-sm ml-2"
          title="{{ .Language.LanguageName }}"
          href="{{ .Permalink }}"
        >
          <i class="fa-solid fa-globe mr-2"></i>
          {{ .Language | upper }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>

<script>
  (function () {
    var burger = document.querySelector(".navbar-burger");
    var menu = document.querySelector(".navbar-menu");
    burger.addEventListener("click", function () {
      burger.classList.toggle("is-active");
      menu.classList.toggle("is-active");
    });
  })();
</script>
