<nav class="navbar mt-4 mb-3" role="navigation" aria-label="main navigation">
  <div class="">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="flex justify-between" id="navMenu">
    <div class="flex">
      {{- range site.Menus.main }}
      <div class="group relative flex mr-4">
        <a class="mb-2" href="{{ .URL }}"> {{ .Name }}</a>
        <span
          class="absolute w-full bottom-0 h-0.5 bg-purple-500 transition-all duration-300 origin-center ease-in-out scale-x-0 group-hover:scale-x-100"
        ></span>
      </div>
      {{- end }}
    </div>
    <div class="navbar-end flex">
      <div class="flex mx-6 min-w-18 justify-between">
        {{ partial "logos" . }} {{ range $.Translations }}
      </div>
      <div class="navbar-item">
        <a
          class="border-1 rounded-sm p-1 text-sm ml-2"
          title="{{ .Language.LanguageName }}"
          href="{{ .Permalink }}"
        >
          <i class="fa-solid fa-globe mr-2"></i>
          {{ .Language | upper }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>

<script>
  (function () {
    var burger = document.querySelector(".navbar-burger");
    var menu = document.querySelector(".navbar-menu");
    burger.addEventListener("click", function () {
      burger.classList.toggle("is-active");
      menu.classList.toggle("is-active");
    });
  })();
</script>
