{{ define "pagetitle" }} Juan R. Loaiza {{ end }} {{ define "title" }} &puncsp;
{{ end }} {{ define "main" }}

<div class="grid grid-cols-4 gap-x-8">
  <div class="col-span-3">{{ .Content }}</div>

  <div class="">
    <div class="p-2 mb-3">
      {{ $image := resources.Get "images/academic.png" }}
      <img src="{{ $image.RelPermalink }}" />
    </div>
    <div>{{ partial "contact" }}</div>
  </div>
  <div class="col-span-3 flex justify-around">
    <div class="">
      <h5 class="font-bold">{{ i18n "specialization" }}</h5>
      <ul>
        {{ $data := index site.Data.areas site.Language.Lang }} {{ range
        $data.specialization }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="">
      <h5 class="font-bold">{{ i18n "competence" }}</h5>
      <ul>
        {{ $data := index site.Data.areas site.Language.Lang }} {{ range
        $data.competence }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ end }}
