    <div class="md:grid grid-cols-8 gap-x-4 gap-y-4">
    {{ range site.Data.talks }}
        <div class="col-span-1 mt-6 md:mt-0">
            {{ time.Format "01.2006" .date }}
        </div>
        <div class="col-span-7">
            <strong>{{ .title }}</strong><br>
            <div class="text-base">
            {{ .conference }}<br>
                {{ if .organizer }}{{ .organizer}} - {{ end }}
                {{ if .institution }}{{ .institution }}{{ end }}

                {{ if .url}}
                <a href="{{ .url }}">(Online)</a>
                {{ else }}
                ({{ if i18n .city }}{{ i18n .city }}{{ else }}{{ .city }}{{end}}{{ if .country }}{{ if i18n .country }}, {{ i18n .country }}{{ else }}, {{ .country }}{{ end }}{{ end }})
                {{end}}
            </div>
        </div>
        {{ end }}
    </div>

