<h2 class="text-2xl mb-2"> {{ i18n "employment" }} </h2>

{{ range site.Data.employment }}
<div class="grid grid-cols-8 mb-6">

    <div class="col-span-1">
        {{ .start_date }}{{ if eq .start_date .end_date }}{{ else if .end_date }} - {{ .end_date }}{{ else }} - {{
        i18n "present" }}{{ end}}
    </div>

    <div class="col-span-7">
        <h4 class="text-xl font-semibold">{{.institution }}</h4>

        <strong>{{ index .position site.Language.Lang }}</strong><br>
        <div class="mb-1">{{ .faculty }}</div>
        {{ .info | safeHTML }}
    </div>
</div>


{{ end }}